<navbar>
  <div class="navigation">
    <div class="logo">
      <a href="/"><img src="/img/teenytek-logo.png"></a>
    </div>
    <div class="menu">
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/projects/">Projects</a></li>
          <li><a href="https://www.youtube.com/channel/UC3hkRnm-3sDoVO7Q52fDVAA">Videos</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/contact/">Contact</a></li>
      </ul>
      </ul>
    </div>
  </div>
</navbar>