{% include "_head.njk" %}
<div class="site-container">
  <div class="container">
    {% include "_navbar.njk" %}
    {% include "_breadcrumbs.njk" %}
    <h1>Contact Me</h1>
    <div class="contact-content">
    <h2>Contact Form</h2>
      <p>Fill out a contact form <a href="https://forms.gle/FGyzgZxQ85xBDgAd6">here!</a></p>
      <h2>Email Me</h2>
      <p>Email me at <a href="teenytekcontact@gmail.com">teenytekcontact@gmail.com</a></h2>
    </div>
  </div>
</div>
{% include "_foot.njk" %}