{% include "_head.njk" %}
<div class="site-container">
  <div class="container">
    {% include "_navbar.njk" %}
    <div class="header">
      <header>
        <div class="welcome">
          <h1>
            Welcome to TeenyTek!
          </h1>
          <div class="paragraphs">
            <p>TeenyTek is a personal repository of information for my tech projects.</p>
            <p>Feel free to look through other pages. You might find something helpful or entertaining!</p>
            <p>If you want to see my projects, check out my YouTube channel <a href="https://www.youtube.com/channel/UC3hkRnm-3sDoVO7Q52fDVAA">here!</a></p>
          </div>
        </div>  
      </header>
    </div>
    <section>
      <div class="news">
        {{content | safe}}
      </div>
    </section>
    <section>
      <div class="latest-posts">
        <h2>Latest Posts</h2>
        <div class="paragraphs">
          {% set myposts = collections.posts | reverse %}
          {% set myposts = myposts.slice(0,3) %}
          {%- for post in myposts -%}
          {% if post.data.title %}
          <article>
              <div class="home-page-title">
                  <h3><a href="{{post.url}}">{{ post.data.title | safe }}</a></h3>
              </div>
              <div class="post-excerpt">
              {% excerpt post %}
              </div>
              <p class="read-more-link"><a href="{{ post.url | url}}">Read more...</a></p>
          </article>
          {% endif %}
          {%- endfor -%}
      </div>
      <div class="more-link"><a href="/blog/">More Posts</a></div>
      </div>
    </section>
    <footer>
      <p>2021 TeenyTek</p>
    </footer>
  </div>
</div>
{% include "_foot.njk" %}